.lanes {
    float: left;
    position: relative;
    left: 50%;
}

.card_wrapper {
      float: left;
      position: relative;
      left: -50%;
}


.white_card{    background-color: LIGHTGOLDENRODYELLOW;     }
.blue_card {    background-color: SLATEBLUE;                }
.black_card{    background-color: DARKMAGENTA;              }
.red_card  {    background-color: TOMATO;                   }
.green_card{    background-color: DARKKHAKI;                }


.played_card_frame{
    box-sizing: border-box;
    float: left;
    margin: 8px;

	height: 264px;
	width: 189px;
	border-radius: 20px;
	border: 10px solid;
}

.hand_card_frame{
    box-sizing: border-box;
    float:left;
    margin-left: -90px;

    height: 264px;
    width: 189px;
    border-radius: 20px;
    border: 10px solid;
}

    .card_top{
        height: 16px;
        padding: 3px;
        width: 100%;
    }
    .card_name {
        font-family: Arial;
        font-weight: bold;
        font-size: 14px;
        float: left;
        text-align: left;
    }
    .card_cost {
        font-family: Arial;
        font-weight: bold;
        font-size: 14px;
        float: right;
        text-align: left;
        margin-right: 6px;
    }

    .card_image{
        width: 149px;
        height: 102px;
        margin-left:9px;
    }

    .card_text{
        font-family: arial;
        text-align: left;
        font-size: 14px;
        margin-left:9px;
        margin-top:9px;
        width: 149px;
        height: 94px;
    }

    .card_bottom{
        float:right;
        margin-right: 6px;
        font-weight: bold;
        font-size: 18px;
    }