

#opp_bar {
	height:7%;
}
#battlefield::after {
	height: 7%;
	background-image: url("../../images/background.png");
	background-size: 100% 100%;
  	opacity: 0.8;
  	top: 0%;
}



#battlefield {
    box-sizing: border-box;
	height: 76%;
	padding: 1%;
}
#battlefield::after {
	height: 76%;
	background-image: url("../../images/background.png");
	background-size: 100% 100%;
  	opacity: 0.8;
  	top: 7%;
}



#player_bar {
	height:19%;
}
#player_bar::after {
	background-image: url("../../images/wood_background.png");
	background-size: 100% 100%;
  	opacity: .8;
  	top: 83%;
	height: 19%;
}



	



#opp_field{
    box-sizing: border-box;
	height: 50%;
	border-bottom: 1px solid;
}

#player_field {
   	box-sizing: border-box;
	height: 50%;
	border-top: 1px solid;
}






#player_cards {
	float: left;
	width: 240px;
}

	#discard_icon {
		background: url("../../images/discard.png"); 
    	background-size: 120px 120px;
		width: 120px;
	}
	#deck_icon {		
		background: url("../../images/card_icon.png"); 
		background-size: 92px 120px;
		width: 92px;
	}

#player_hand {
	float: left;
	width: calc(100% - 360px);

}
#player_info {
	float: right;
	width: 120px;
}

